 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>

  <div class="newsletter">
                    <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title text-center">
          <h1>Enroll</h1>
       </div>
      </div>
    </div>

                        <div class="row">
                            <div class="col text-center">
                                <div class="newsletter_form_container mx-auto">
                                    <form action="post">
                                        <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
                                            <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300"  value="Submit">Full name</button>
                                            <input id="name" class="newsletter_email" type="text" placeholder="Full name" required="required" data-error="Valid email is required.">
                                            
                                        </div>
                                        <br>
                                        <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
                                            <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">Email</button>
                                            <input id="newsletter_email" class="newsletter_email" type="email" placeholder="Email Address" required="required" data-error="Valid email is required.">
                                            
                                        </div>
                                        <br>
                                        <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
                                            <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">Phone Number</button>
                                            <input id="phone" class="newsletter_email" type="text" placeholder="Phone Number" required="required" data-error="Valid email is required.">
                                            
                                        </div>
                                        <br>
                                        <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
                                            <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">Country</button>
                                            <input id="country" class="newsletter_email" type="text" placeholder="Country" required="required" data-error="Valid email is required.">
                                            
                                        </div>
                                        <br>
                                        <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
                                             <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">City</button>
                                            <input id="city" class="newsletter_email" type="text" placeholder="City" required="required" data-error="Valid email is required.">
                                           
                                        </div>
                                        <br>
                                        <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
                                             <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">Company Name</button>
                                            <input id="company_name" class="newsletter_email" type="text" placeholder="Company Name " required="required" data-error="Valid email is required.">
                                           
                                        </div>
                                        <br>
                                        <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
                                              <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">Company Website</button>
                                            <input id="company_website" class="newsletter_email" type="text" placeholder="Company Website" required="required" data-error="Valid email is required.">
                                          
                                        </div>
                                        <br>
                                        <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
                                            <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">Info</button>
                                            <input id="info" class="newsletter_email" type="text" placeholder="Additional Information " required="required" data-error="Valid email is required.">
                                            
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                        <div class="row " >
                                        <div class="newsletter_form d-flex align-items-center justify-content-center col-lg-4  col-md-4 col-sm-4">

                                            <input type="checkbox" name="vehicle" value="Car" checked>
                                            <p>
                                                <font color="#1A94C4" size="5"> Sponser</font>
                                            </p><br></div>
                                        <div class="newsletter_form d-flex  align-items-center justify-content-center col-lg-4  col-md-4 col-sm-4">

                                            <input type="checkbox" name="vehicle" value="Car" >
                                            <p>
                                                <font color="#1A94C4" size="5">Investor</font>
                                            </p><br></div>
                                        <div class="newsletter_form d-flex align-items-center justify-content-center col-lg-4  col-md-4 col-sm-4">

                                            <input type="checkbox" name="vehicle" value="Car" >
                                            <p>
                                                <font color="#1A94C4" size="5"> Guest</font>
                                            </p><br></div>
                                            </div>
                                            <br>
                                            <div class="newsletter_form d-flex align-items-center justify-content-center">
                                                    <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">Submit</button>
                                                </div>
                                    
                                    </form>
                                </div>
                            </div>
                        </div>
        
      </div>
    </div>