
  <!-- Home -->

  <div class="home">
    <div class="home_background_container prlx_parent">
      <div class="home_background prlx" style="background-image:url(../../assets/images/news_background.jpg)"></div>
    </div>
    <div class="home_content">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
<!--      <h1>Project Details</h1>
      <hr>
      
<img src="assets/categories/categories-white/{{img}}"height="75" width="75">-->
<h1 align="center" style="color: #57A0CE;">Project Details
<!--<hr>-->
<br>
<br>
<img src="assets/categories/{{img}}"height="75" width="75"></h1>
      
    </div>
  </div>

  <!-- News -->
  <!--
<img src="assets/categories/{{img}}">-->
  <div class="news">
    <div class="container">
      <div class="row">
        
        <!-- News Column -->

        <div class="col-lg-8">
          
          <div class="news_posts">
            <!-- News Post -->
            <div class="news_post">
              <div class="news_post_image">
                <img src="../../assets/images/news_1.jpg" alt="https://unsplash.com/@dsmacinnes">
              </div>
            
              
             
            </div>
              
          </div>

          <!-- Page Nav -->

          <div class="news_page_nav">
            <ul>
              <li class=" text-center trans_200"><a href="#">01</a></li>
              <li class="text-center trans_200"><a href="#">02</a></li>
              <li class="text-center trans_200"><a href="#">03</a></li>
            </ul>
          </div>


  <div id="faculty-sec" >
    <div class="container set-pad">
             <div class="row text-center">
                 <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                     <h1 data-scroll-reveal="enter from the bottom after 0.1s" class="header-line">Team Members </h1>
                    
                 </div>

             </div> 
           <div class="row" >
           
               
                 <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
                     <div class="faculty-div">
                     <img src="../../assets/images/course_5.jpg"  class="img-rounded" height="300" width="300"/>
                   <h3 >ROXI CHI LUENA </h3>
                 <hr />
                  
                </div>
                   </div>
                 <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.5s">
                     <div class="faculty-div">
                     <img src="../../assets/images/course_5.jpg"  class="img-rounded" height="300" width="300"/>
                   <h3 >JANE DEO ALEX</h3>
                 <hr />
                         
                </div>
                   </div>
               <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.6s">
                     <div class="faculty-div">
                     <img src="../../assets/images/course_5.jpg" class="img-rounded" height="300" width="300"/>
                   <h3 >RUBY DECORSA</h3>
                 <hr />
                </div>
                   </div>
                   
                 
               </div>
                    </div>
        </div>


      <div class="row">
        <div class="col-sm-4"></div>
          <button class="button button2">
                <a href="# " align="center"><p style="color:#3486BB;">Contact The Team</p></a></button>
              </div>   


        </div>

        <!-- Sidebar Column -->

        <div class="col-lg-4">
          <div class="sidebar">

            <!-- Archives -->
            <div class="sidebar_section">
              <div class="sidebar_section_title">
                <h3>Project Name</h3>
                <h3>Description</h3>

              </div>
              <ul class="sidebar_list">
               <p>fffffffffffffffff</p>
              </ul>
            </div>

            <!-- Latest Posts -->

           
            <!-- Tags -->

            <div class="sidebar_section">
              <div class="sidebar_section_title">
                <h3>Tags</h3>
              </div>
              <div class="tags d-flex flex-row flex-wrap">
                <div class="tag"><a href="#">Course</a></div>
                <div class="tag"><a href="#">Design</a></div>
                <div class="tag"><a href="#">FAQ</a></div>
                <div class="tag"><a href="#">Teachers</a></div>
                <div class="tag"><a href="#">School</a></div>
                <div class="tag"><a href="#">Graduate</a></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>