
            <div class="home">
    <div class="home_background_container prlx_parent">
      <div class="home_background prlx" style="background-image:url(assets/images/Categories.jpg)"></div>
    </div>
    <div class="home_content">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      <h1 align="center" style="color: #8DB9D4;">Categories</h1>
     <!-- <hr>
      
<img src="assets/categories/categories-white/{{img}}"height="75" width="75">

     -->
    </div>
  </div>
  <br>
  <br>
  <br>
      <div class=" row">

  <div class="col-md-4">
      <a  href="pro list/ai.png/ARTIFICIAL INTELLEGENCE" >
        <p align="center">
    <img src="assets\categories\ai.png" height="200" width="200"></p></a>
    <p align="center" style="color:#3486BB;">ARTIFICIAL INTELLEGENCE</p>
  </div>
  <div class="col-md-4">
      <a  href="pro list/networking.png/Networking" >
        <p align="center">
      <img src="assets\categories\networking.png"height="200" width="200"></p></a>
      <p align="center" style="color:#3486BB;">NETWORKING</p>
      
      
    </div>
    <div class="col-md-4">
        <a  href="pro list/software-engineering.png/SOFTWARE ENGINEERING" >
        <p align="center">
          
        <img src="assets\categories\software-engineering.png"height="200" width="200"></p></a>
        <p align="center" style="color:#3486BB;">SOFTWARE ENGINERRING</p>
      </div>
</div>
<div class=" row">
    
      <div class="col-md-4">
          <a  href="pro list/ai.png/ARTIFICIAL INTELLEGENCE" >
            <p align="center">
        <img src="assets\categories\ai.png" height="200" width="200"></p></a>
        <p align="center" style="color:#3486BB;">NLP</p>
      </div>
      <div class="col-md-4">
          <a  href="pro list/networking.png/Networking" >
            <p align="center">
          <img src="assets\categories\networking.png"height="200" width="200"></p></a>
          <p align="center" style="color:#3486BB;">DATA MINING </p>
          
          
        </div>
        <div class="col-md-4">
            <a  href="pro list/software-engineering.png/SOFTWARE ENGINEERING" >
            <p align="center">
              
            <img src="assets\categories\software-engineering.png"height="200" width="200"></p></a>
            <p align="center" style="color:#3486BB;">VIRTUAL REALITY</p>
          </div>
    </div>

