/*=====================================
  FACULTY STYLES 
  ===================================*/
#faculty-sec {
    background-color: white;
    color: #fff;
}

    #faculty-sec .header-line {
        color: #fff;
    }
.faculty-div h4 {
    line-height:30px;
    font-weight:700;
}
.faculty-div {
    padding: 30px;
}

    .faculty-div hr {
        border: 1px solid #1A94C4;
    }

    .faculty-div h3 {
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        color: #1A94C4;  
    }

    .faculty-div p {
        padding-top: 10px;
        padding-bottom: 15px;
        color: #1A94C4;
    }

    .faculty-div img {
        border: 10px double #1A94C4;
        
    }